@using Istka_Group4_FoodOrdering_Entity.ViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="col-md-6 mx-auto">
            <br />
            <br />
            <h3 class="tittle">Kayıt Ol</h3>
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-action="Register" asp-controller="Account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label text-left w-100">Ad</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label text-left w-100">Soyad</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label text-left w-100">Kullanıcı Adı</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label text-left w-100">Telefon Numarası</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label text-left w-100">E-posta</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label text-left w-100">Şifre</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label text-left w-100">Şifreyi Onayla</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Gönder" class="btn btn-mor" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    .btn-mor {
        background-color: #6046b6;
        border-color: #800080;
        color: white;
    }

        .btn-mor:hover {
            background-color: #660066;
            border-color: #660066;
        }

    .form-group label {
        text-align: left;
        display: block;
    }
</style>
