@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- What We Offer-->
<section class="section section-md bg-default">
    <div class="container">
        <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Menümüz</span></h3>
        <div class="row row-md row-30">
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <!-- Services Terri-->
                    <article class="services-terri wow slideInUp">
                        <div class="services-terri-figure">
                            <img src="/images/t1.jpg" alt="" width="370" height="278" />
                        </div>
                        <div class="services-terri-caption">
                            <span class="services-terri-icon linearicons-leaf"></span>
                            <h5 class="services-terri-title"><a href="#">Salatalar</a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <!-- Services Terri-->
                    <article class="services-terri wow slideInDown">
                        <div class="services-terri-figure">
                            <img src="~/themes/images/menu-2-370x278.jpg" alt="" width="370" height="278" />
                        </div>
                        <div class="services-terri-caption">
                            <span class="services-terri-icon linearicons-pizza"></span>
                            <h5 class="services-terri-title"><a href="#">Pizzalar</a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <!-- Services Terri-->
                    <article class="services-terri wow slideInUp">
                        <div class="services-terri-figure">
                            <img src="~/themes/images/menu-3-370x278.jpg" alt="" width="370" height="278" />
                        </div>
                        <div class="services-terri-caption">
                            <span class="services-terri-icon linearicons-hamburger"></span>
                            <h5 class="services-terri-title"><a href="#">Hamburgerler</a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <!-- Services Terri-->
                    <article class="services-terri wow slideInDown">
                        <div class="services-terri-figure">
                            <img src="~/themes/images/menu-4-370x278.jpg" alt="" width="370" height="278" />
                        </div>
                        <div class="services-terri-caption">
                            <span class="services-terri-icon linearicons-ice-cream"></span>
                            <h5 class="services-terri-title"><a href="#">Tatlılar</a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <!-- Services Terri-->
                    <article class="services-terri wow slideInUp">
                        <div class="services-terri-figure">
                            <img src="~/themes/images/menu-5-370x278.jpg" alt="" width="370" height="278" />
                        </div>
                        <div class="services-terri-caption">
                            <span class="services-terri-icon linearicons-coffee-cup"></span>
                            <h5 class="services-terri-title"><a href="#">İçecekler</a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <!-- Services Terri-->
                    <article class="services-terri wow slideInDown">
                        <div class="services-terri-figure">
                            <img src="~/themes/images/menu-6-370x278.jpg" alt="" width="370" height="278" />
                        </div>
                        <div class="services-terri-caption">
                            <span class="services-terri-icon linearicons-steak"></span>
                            <h5 class="services-terri-title"><a href="#">Deniz Ürünleri</a></h5>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
